DIV.spacer {
    clear: both;
    float: none;
    font-size: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}
DIV.resultsBar .orderBy, BODY, FORM {
    background-color: #e4e3e1;
    margin: 0;
    padding: 0;
}
UL {
    list-style-type: none;
}
DIV.top {
    clear: both;
    height: 91px;
    padding: 12px 6px 6px;
    position: relative;
    background: transparent url("../image/common/banner.jpg") no-repeat;
}
DIV.parent {
    float: left;
    height: 60px !important;
    margin-right: 14px;
    display: none;
}
DIV.identification {
    width: 500px;
}
DIV.identification H1, DIV.identification H2 {
    margin: 0;
}
DIV.otherVersions {
    height: 20px;
    padding: 6px 6px 0 0;
    text-align: right;
}
DIV.otherVersions A {
    margin-left: 10px;
}
DIV.otherVersions A IMG {
    margin-right: 7px;
}
DIV.feedback {
    position: absolute;
    top: 5px;
}
DIV.resourcesArea {
    position: absolute;
    right: 200px;
    text-align: right;
    top: 3px;
}
DIV.content {
    clear: both;
    padding: 6px;
}
DIV.search DIV.informationTypes {
    padding-left: 50px;
}
DIV.search DIV.informationTypes A {
    display: inline-block;
    margin-right: 25px;
    padding: 5px 0;
}
DIV.search DIV.searchForm {
    padding: 4px 10px;
}
DIV.search DIV.searchForm DIV.actions {
    margin-top: 7px;
}
DIV.search DIV.searchForm .inputText, DIV.search DIV.searchForm .submit {
    vertical-align: middle;
}
DIV.search DIV.searchForm INPUT.inputText {
    border: 1px solid #ccc;
    height: 24px;
    margin-top: 3px;
    width: 46%;
}
DIV.search DIV.searchForm SELECT.inputText {
    margin-top: 2px;
    padding: 4px 2px 4px 4px;
    width: 180px;
}
DIV.resultNavigation {
    float: right;
    margin: 5px 0;
    padding: 2px;
    width: 100%;
}
DIV.resultsBar {
    float: right;
    margin: 0 0 4px;
    padding: 5px 0;
    width: 100%;
}
DIV.resultsBar DIV {
    float: left;
}
.resultsBar .optionsGroup1, .resultsBar .optionsGroup2 {
    height: 30px;
}
.resultsBar .optionsGroup1 {
    width: 495px;
}
.resultsBar .optionsGroup2 {
    width: 270px;
}
.resultsBar .optionsGroup2 div {
    margin-right: 2px;
}
DIV.resultsBar .orderBy, DIV.resultsBar .format, DIV.resultsBar .feed, DIV.resultsBar .email, DIV.resultsBar .print {
    margin-left: 0.5%;
}
DIV.resultsBar .orderBy, DIV.resultsBar .format, DIV.resultsBar .feed {
    margin-top: 3px;
}
.feed a {
    height: 17px;
    margin-right: 5px;
    width: 40px;
}
.feed a span {
    display: none;
}
DIV.noResults {
    clear: both;
    height: 380px;
    margin: 20px 0;
    padding: 2px 10px;
}
DIV.resultsBar DIV.resultsFor {
    float: left;
    margin-right: 2px;
    padding-top: 2px;
    width: 58%;
}
DIV.resultsBar DIV.print a, DIV.resultsBar DIV.email a, DIV.resultsBar DIV.export a {
    padding: 2px 3px 2px 25px !important;
}
Div.print li {
    margin: 10px;
}
Div.print .submit {
    margin: 0 0 10px 10px;
    text-align: left;
}
.showBox {
    margin-top: 0;
}
.linkBox .showBox {
    margin-top: 11px;
    padding: 5px;
    width: 380px;
}
.linkBox .showBox li {
    margin-top: 5px;
}
.record .arrowBox {
    margin-left: 35px;
    margin-top: 5px;
}
.emailBox .showBox {
    margin-left: -200px;
    width: 270px;
}
.emailBox form {
    margin: 5px;
}
.emailBox .formBox {
    float: left;
}
.emailBox .formBox.inputName, .emailBox .formBox.inputEmail {
    width: 130px;
}
.inputName .formEmail, .inputEmail .formEmail, .inputName span, .inputEmail span {
    float: left;
    width: 120px;
}
.inputButton {
    float: right !important;
    margin: 10px;
}
.formEmail {
    width: 250px;
}
.inputMessage .formEmail {
    height: 60px;
    margin-bottom: 10px;
}
.printBox.boxContent {
    margin-left: -170px;
    position: absolute;
}
.printBox .arrowBox {
    margin-left: 200px;
}
.emailBox .arrowBox {
    margin-left: 30px;
}
DIV.resultsBar DIV.feed {
    float: left;
}
.bosContent {
    float: none;
}
DIV.resultsBar DIV.feed A, DIV.resultsBar DIV.export A, DIV.resultsBar DIV.email A, DIV.resultsBar DIV.print A {
    display: inline-block;
    padding: 1px;
    vertical-align: middle;
}
#bookmark_button {
    float: left;
    font-size: larger;
    text-align: right;
    width: 20%;
}
#bookmark_button img {
    cursor: pointer;
}
DIV.results {
    clear: both;
}
DIV.results DIV.resultServices {
    float: right;
    width: 230px;
}
DIV.results DIV.resultServices DIV.filters {
    margin: 10px 0 10px 10px;
}
DIV.results DIV.resultServices DIV.filters UL LI.filter {
    margin: 5px 0;
}
DIV.results DIV.resultServices DIV.filters UL LI UL {
    margin: 0 0 0 20px;
}
DIV.results DIV.resultServices DIV {
    margin-bottom: 2px;
}
DIV.resultServices DIV.refineSearch UL, #fulltext {
    margin: 0 0 15px 3px;
    padding: 0;
}
DIV #fulltext {
    margin: 0 0 15px;
}
#fulltext strong {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
#fulltext.closed strong {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}
DIV.resultServices DIV.refineSearch UL LI {
    margin: 3px 0;
}
DIV.resultServices DIV.refineSearch H4 {
    clear: both;
    float: none;
    height: 100%;
}
.resultServices #searchHistory H4 a, .resultServices #yourSelection H4 a {
    padding-top: 7px;
}
DIV.resultServices DIV.refineSearch DIV.collapseAll, DIV.resultServices DIV.refineSearch DIV.expandAll {
    float: left;
    margin: 0 0 8px;
    padding: 0;
    width: 48%;
}
DIV.resultServices DIV.refineSearch DIV.expandAll {
    padding: 0;
}
DIV.resultServices DIV.refineSearch DIV.bContent {
    clear: both;
    margin-left: 10px;
}
DIV.resultServices DIV.yourSelection P {
    margin: 0;
}
DIV.resultServices DIV.yourSelection P IMG {
    vertical-align: middle;
}
DIV.resultServices DIV.yourSelection UL LI {
    margin: 8px 0 4px 10px;
}
DIV.boxContent {
    float: none;
    width: 230px;
}
.showBox {
    margin-top: 6px;
    position: absolute;
    width: 230px;
}
.arrowBox {
    background: rgba(0, 0, 0, 0) url("../image/common/bg_box.gif") no-repeat scroll center top;
    float: left;
    height: 7px;
    margin-left: 107px;
    position: absolute;
    width: 16px;
}
#searchHistoryList.showBox, .yourSelection .showBox {
    margin-top: 6px;
    position: absolute;
}
DIV.resultServices DIV.searchHistory UL {
    clear: both;
    margin: 0;
    padding: 0;
}
DIV.resultServices DIV.searchHistory UL LI {
    clear: both;
    padding: 1px;
    position: relative;
}
DIV.resultServices DIV.searchHistory UL LI A {
    display: block;
    padding: 3px 7px;
    width: 70%;
}
DIV.resultServices DIV.searchHistory UL LI A.addExpr, DIV.resultServices DIV.searchHistory UL LI A.remExpr {
    padding: 3px 0;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 15px;
}
DIV.resultServices DIV.searchHistory UL LI A.remExpr {
    right: 24px;
}
DIV.resultServices DIV.mailSend DIV.bContent {
    padding: 9px;
}
DIV.resultServices DIV.mailSend DIV.bContent DIV {
    padding: 0 0 10px;
}
DIV.resultServices DIV.mailSend DIV.bContent P.disabled {
    display: none;
}
DIV.resultServices DIV.mailSend DIV.bContent FORM.disabled P.disabled {
    display: block;
}
DIV.resultServices DIV.mailSend DIV.bContent FORM.disabled P.message {
    display: none;
}
DIV.resultServices DIV.mailSend DIV.bContent DIV LABEL {
    display: block;
}
DIV.resultServices DIV.mailSend INPUT.inputText {
    padding: 4px;
    width: 148px;
}
DIV.resultServices DIV.mailSend INPUT.submit {
    float: left;
    padding: 6px;
}
DIV.results DIV.resultServices DIV H4 {
    margin: 0;
    padding-left: 10px;
}
DIV.results DIV.resultServices DIV H4 A {
    display: block;
    padding: 6px 10px;
}
DIV.results DIV.resultServices DIV DIV, .boxContent {
    padding: 0;
}
DIV.results DIV.resultServices DIV.closed DIV {
    display: none;
}
DIV.results DIV.resultSet {
    background-color: #ffffff;
    float: left;
    width: 730px;
}
DIV.resultSet DIV.infoBar {
    background-color: #ffffff;
    clear: right;
    height: 18px;
    margin-bottom: 1px;
    padding: 6px 10px;
}
.totalResults {
    float: left;
    width: 29%;
}
.pagination {
    float: right;
    text-align: right;
    width: 70%;
}
DIV.resultSet DIV.infoBar DIV.pagination SPAN {
    margin-left: 6px;
}
DIV.resultSet DIV.record {
    clear: right;
    height: auto;
    margin-bottom: 4px;
    margin-top: 2px;
    min-height: 90px;
    padding: 6px 10px 6px 4px;
}
DIV.resultSet DIV.record DIV.user-actions {
    height: 22px;
    margin: 5px 0 0;
}
DIV.user-actions DIV {
    float: left;
    margin: 0 10px 0 0;
}
DIV.user-actions DIV.bookmark IMG {
    margin-top: 6px;
}
DIV.user-actions DIV.text_abstract SPAN {
    margin-right: 20px;
}
DIV.record DIV.position {
    float: left;
    width: 24px;
}
DIV.record DIV.data {
    margin: 0 0 0 44px;
}
DIV.record DIV.data H3 {
    margin: 0;
}
DIV.record DIV.data DIV {
    margin-left: 0;
}
DIV.record DIV.data DIV.tags A {
    margin-right: 6px;
    padding: 2px;
}
DIV.record DIV.data DIV.tags A.more {
    margin: 0;
    padding: 0;
}
DIV.record DIV.data DIV.links {
    margin-top: 2px;
}
DIV.record DIV.data DIV.links UL {
    margin: 0;
    padding: 0;
}
DIV.record DIV.data DIV.links LI {
    padding-top: 2px;
}
DIV.record DIV.services {
    float: right;
    text-align: right;
    width: 160px;
}
DIV.record DIV.services DIV {
    padding: 4px 20px 4px 4px;
}
DIV.detail {
    clear: both;
    width: 90%;
}
DIV.detail DIV.data {
    margin: 0 20px 0 8px;
}
DIV.footer {
    clear: both;
    height: 15px;
    margin-top: 7px;
    padding: 10px 12px;
}
DIV.footer DIV.powered {
    float: left;
    width: 50%;
}
DIV.footer DIV.links {
    float: right;
    text-align: right;
    width: 30%;
}
DIV.source SPAN.type span {
    padding: 0 50px 0 2px;
}
DIV.source SPAN.type IMG {
    margin-bottom: -3px;
}
FORM SPAN.transmission {
    display: block;
    float: left;
    margin-left: 8px;
    padding: 7px 8px;
}
#refine_facet div strong {
}
#refine_facet div {
    padding: 0;
}
DIV.resultServices DIV.searchHistory DIV.popup {
    padding: 0;
}
DIV.resultServices DIV.searchHistory DIV.popup H4 IMG {
    position: absolute;
    right: 4px;
    top: 3px;
}
DIV.popup {
    height: auto;
    position: absolute;
    width: 100px;
}
DIV.resultServices DIV.searchHistory DIV.popup UL LI {
    padding-left: 10px;
}
DIV.resultServices DIV.searchHistory DIV.altpopup {
    padding: 5px 5px 5px 20px;
    width: auto;
}
.resultOptions {
    background-color: #ffffff;
    float: left;
    width: 735px;
}
.yourSelectionCheck {
    float: left;
    margin: 3px;
}
.refineSearch {
    padding-top: 8px;
}
DIV.resultServices DIV.refineSearch UL LI.more {
    margin-right: 10px;
}
DIV.resultServices DIV.searchHistory UL LI A IMG {
    height: 14px;
    width: 15px;
}
DIV.record DIV.data DIV.database SPAN {
    margin-left: 8px;
}
#refine_facet div.closed ul {
    display: none;
}
.selectAll input {
    margin-top: 2px;
    padding-left: 10px;
    width: 118px;
}
.clearAll input {
    margin-top: 2px;
    padding-left: 10px;
    width: 130px;
}