* {
    margin: 0;
    padding: 0;
}
BODY {
    background: rgba(0, 0, 0, 0) url("../image/common/bg.gif") repeat-x scroll center top;
    font-size: 72%;
}
HTML > BODY {
    # background-color: #e4e3e1;
    font-size: 70%;
}
BODY, INPUT, SELECT, TEXTAREA {
    font-family: Arial,Verdana,Helvetica;
}
A IMG {
    border: 0 none;
    vertical-align: middle;
}
HR {
    border: 1px solid #cecece;
    margin: 7px 0;
}
a {
    color: #000000;
}
fieldset {
    border: medium none;
    padding: 2px;
}
fieldset input {
    margin: 2px;
}
.container{
    margin: 0 auto;
    max-width: 1004px;
    min-width: 780px;
    position: relative;
}
DIV.identification H2 {
    font-size: 100%;
    font-weight: normal;
}
DIV.identification {
    float: left;
}
DIV.identification H1 {
    color: rgb(40, 72, 125);
    font-size: 160%;
    margin-top: 10px;
    display:none;
}
DIV.identification H2 {
    color: rgb(40, 72, 125);
    font-size: 130%;
    display:none;
}
DIV.identification H3 {
    color: rgb(40, 72, 125);
    font-weight: normal;
}
DIV.otherVersions A {
    color: #ffffff;
    text-decoration: none;
}
DIV.otherVersions A IMG {
    border: 1px solid #7d7b6b;
    opacity: 0.2;
}
DIV.otherVersions A.selected {
    color: #81c4f4;
    font-weight: bold;
}
DIV.otherVersions A.selected IMG, DIV.otherVersions A:hover IMG {
    border: 1px solid #e1ddbb;
    opacity: 1;
}
DIV.feedback A {
    text-decoration: none;
}
.searchForm, #config_filters {
    border-bottom: 1px solid #cecece;
}
DIV.search DIV.informationTypes A {
    color: #00f;
    text-decoration: underline;
}
DIV.search DIV.informationTypes A.selected {
    background: #d9e2e8 url("../image/common/informationTypes_selected_b.gif") no-repeat scroll center bottom;
    color: #121212;
    text-decoration: none;
}
DIV.search DIV.informationTypes SPAN {
    text-decoration: underline;
}
DIV.search DIV.searchForm {
    background: #e4e3e1 none repeat scroll 0 0;
}
DIV.search DIV.searchForm SELECT.inputText {
    background: #e4e3e1 none repeat scroll 0 0;
    border: 1px solid #acaeaf;
    font-size: 100%;
}
.submit {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #bebebe none repeat scroll 0 0;
    border-color: #c2d5e1 #7899af #7899af #c2d5e1;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #121212;
    font-weight: bold;
    padding: 2px 8px;
}
.cfg-filters {
    background: #e4e3e1 none repeat scroll 0 0;
    border-left: 1px solid #b8c1ca;
    border-right: 1px solid #b8c1ca;
    border-top: 1px solid #b8c1ca;
    float: right;
    margin: -36px 4px 0 0;
    padding: 5px;
}
.cfg-filters a {
    text-decoration: none;
}
#config_filters {
    margin-top: 10px;
    padding: 12px;
}
#config_filters ul {
    margin: 0 auto;
    width: 80%;
}
#config_filters li {
    margin: 8px 0 6px 2%;
}
#config_filters .submit {
    margin-left: 140px;
}
#countSelect {
    width: 130px;
}
.resultsFor {
    margin-bottom: 10px;
}
.resultsFor a {
    color: #666666;
}
DIV.search DIV.searchForm A {
    color: #121212;
}
DIV.content {
    border-top: 1px solid #71a1b4;
}
DIV.resultsBar DIV.print a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d9e8f2 url("../image/common/print.gif") no-repeat scroll 4px 4px;
    border-color: #c2d5e1 #7899af #7899af #c2d5e1;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #121212;
    text-decoration: none;
}
DIV.resultsBar DIV.email a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d9e8f2 url("../image/common/email.gif") no-repeat scroll 4px 4px;
    border-color: #c2d5e1 #7899af #7899af #c2d5e1;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #121212;
    text-decoration: none;
}
DIV.resultsBar DIV.export a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #d9e8f2 url("../image/common/page_go.png") no-repeat scroll 4px 4px;
    border-color: #c2d5e1 #7899af #7899af #c2d5e1;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #121212;
    text-decoration: none;
}
DIV.resultsBar DIV.feed {
    color: #7f7f7f;
}
.feed a.RSS {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_RSS.gif") no-repeat scroll right center;
}
.feed a.XML {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_XML.gif") no-repeat scroll right center;
}
.actions img {
    margin: 4px 0 0 3px;
}
DIV#print li, DIV#export li {
    margin: 5px 0;
}
DIV#print h3, DIV#export h3 {
    margin: 20px 0 5px;
}
DIV#print h3:first-child, DIV#export h3:first-child {
    margin: 0 0 5px;
}
DIV#print p, DIV#export p {
    margin: 0 0 15px;
}
DIV#print li img, DIV#export li img {
    margin: 4px 5px -4px;
}
DIV#email {
    width: 450px;
}
DIV#email input[type="text"], DIV#email textarea {
    margin: 0 0 10px;
    padding: 6px;
    width: 96%;
}
DIV#email textarea {
    height: 100px;
}
DIV#email input[type="submit"], DIV#email input[type="reset"] {
    margin: 30px 4px 15px;
    padding: 7px;
}
DIV.resultsBar DIV.orderBy {
    color: #7f7f7f;
}
DIV.results DIV.resultServices, .affix {
    background: #e4e3e1 none repeat scroll 0 0;
}
DIV.results DIV.resultServices DIV DIV {
    border: 0 none;
}
DIV.results DIV.resultServices DIV.closed {
}
.searchHistory H4 {
    background: transparent url("../image/common/resultServices_minus_icon2.jpg") no-repeat scroll left center;
}
.searchHistory.closed H4 {
    background: transparent url("../image/common/resultServices_plus_icon2.jpg") no-repeat scroll 3px 13px;
}
.yourSelection H4 {
    background: transparent url("../image/common/resultServices_minus_icon2.jpg") no-repeat scroll left center;
}
.yourSelection.closed H4 {
    background: transparent url("../image/common/resultServices_plus_icon2.jpg") no-repeat scroll 3px 13px;
}
.searchHistory h4, .yourSelection h4 {
    background-position: 3px 13px;
    font-size: 110%;
}
DIV.results DIV.resultServices DIV H4 A {
    cursor: pointer;
    text-decoration: none;
}
DIV.resultServices DIV.refineSearch UL LI, DIV.resultServices DIV.yourSelection LI {
    color: #696969;
    font-size: 11px;
    list-style: outside none none;
}
DIV.resultServices UL LI.subtopic {
    margin-left: 23px !important;
}
.refineSearch {
    border-top: 2px solid #cecece !important;
}
.bContent DIV {
    font-size: 130%;
}
DIV.resultServices DIV.refineSearch DIV.expandAll, DIV.resultServices DIV.refineSearch DIV.collapseAll {
    cursor: pointer;
}
DIV.resultServices DIV.refineSearch UL LI A {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}
DIV.resultServices DIV.yourSelection LI A {
    color: #00f;
    cursor: pointer;
    text-decoration: none;
}
DIV.resultServices DIV.searchHistory UL LI {
    border-top: 1px solid #ecf0f3;
}
DIV.resultServices DIV.searchHistory UL LI A {
    color: #121212;
    text-decoration: none;
}
DIV.resultServices DIV.searchHistory UL LI A:hover {
    text-decoration: underline;
}
DIV.resultServices DIV.refineSearch UL LI.more {
    text-align: right;
}
DIV.resultServices DIV.searchHistory UL LI A IMG {
    opacity: 0.4;
}
DIV.resultServices DIV.searchHistory UL LI A:hover IMG {
    opacity: 1;
}
DIV.resultServices DIV.mailSend INPUT.inputText {
    border-color: #cccccc #e5e5e5 #e5e5e5 #cccccc;
    border-style: solid;
    border-width: 1px;
}
DIV.resultServices DIV.mailSend INPUT.submit {
    background: #999 none repeat scroll 0 0;
    border-color: #adadad #6b6b6b #6b6b6b #adadad;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-size: 95%;
}
DIV.resultServices DIV.mailSend FORM.disabled INPUT.inputText {
    background: #f3f7fa none repeat scroll 0 0;
}
DIV.resultServices DIV.mailSend FORM.disabled DIV {
    color: #aaaaaa;
}
DIV.resultSet DIV.infoBar {
    background: #ffffff none repeat scroll 0 0;
    color: #000000;
}
DIV.resultSet DIV.infoBar DIV.pagination A {
    color: #000000;
}
DIV.resultSet DIV.record {
    border-bottom: 1px solid #e5e5e5;
}
.record:hover {
    background: #f9fcfe none repeat scroll 0 0;
}
DIV.resultSet DIV.record DIV.user-actions A, DIV.resultSet DIV.record DIV.user-actions A:visited {
    text-decoration: none;
}
DIV.user-actions SPAN {
    vertical-align: middle;
}
DIV.user-actions DIV A {
    cursor: pointer;
}
DIV.data DIV.source {
    font-size: 110%;
}
DIV.record DIV.data {
    font-size: 112%;
    line-height: 20px;
}
DIV.record DIV.data a {
    border-bottom: 1px dotted #999;
}
DIV.record DIV.data a:hover {
    border-bottom: 1px solid #999;
}
DIV.record DIV.data .user-actions a, DIV.record DIV.data h3 a {
    border-bottom: medium none;
}
DIV.record DIV.data .user-actions a:hover, DIV.record DIV.data h3 a:hover {
    border-bottom: medium none;
}
DIV.record DIV.data H3 {
    font-family: Arial;
    font-size: 130%;
}
DIV.record DIV.data A {
    color: #000;
    text-decoration: none;
}
DIV.record DIV.data A:hover {
    color: #344c66;
}
DIV.record DIV.data DIV.source, DIV.record DIV.data DIV.language, DIV.record DIV.data DIV.description, DIV.record DIV.data DIV.tags {
    color: #121212;
}
DIV.record DIV.data DIV.source {
    color: #6d6d6d;
}
DIV.record DIV.data DIV.description SPAN, DIV.record DIV.data DIV.description A, DIV.record DIV.data DIV.tags A.more {
    color: #121212;
}
.tags {
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}
.tags a {
    color: #000;
}
DIV.record DIV.services DIV {
    font-size: 90%;
}
DIV.record DIV.services DIV.lilacs_express {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_lilacs.gif") no-repeat scroll right top;
}
DIV.record DIV.services DIV.print {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_print.gif") no-repeat scroll right top;
}
DIV.record DIV.services DIV.scad {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_scad.gif") no-repeat scroll right top;
}
DIV.record DIV.services DIV.scielo {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_scielo.gif") no-repeat scroll right top;
}
DIV.record DIV.services DIV.related {
    background: rgba(0, 0, 0, 0) url("../image/common/icon_related.gif") no-repeat scroll right top;
}
DIV.record DIV.services DIV A {
    color: #121212;
}
DIV.footer {
    border-top: 2px solid #f0f0f0;
    color: #646464;
}
DIV.footer STRONG {
    color: #121212;
}
DIV.footer A {
    color: #646464;
}
FORM SPAN.transmission {
    border-style: solid;
    border-width: 1px;
}
#sendingMail {
    background-color: #ffffee;
    border-color: #aaaa00;
}
#mailSent {
    background-color: #eeffee;
    border-color: #00aa00;
}
#mailError {
    background-color: #ffeeee;
    border-color: #aa0000;
}
#refine_facet div strong {
    cursor: pointer;
}
#refine_facet div.closed {
    border: 0 none;
}
#refine_facet div.closed strong {
    background: transparent url("../image/common/resultServices_plus_icon2.jpg") no-repeat scroll left center;
}
DIV.resultServices DIV.searchHistory DIV.popup {
    background-color: #fff;
    border: 1px solid #acaeaf;
}
DIV.resultServices DIV.searchHistory DIV.popup H4 {
    background: #ecf0f3 none no-repeat scroll left top;
    border-bottom: 1px solid #acaeaf;
    cursor: default;
}
DIV.resultServices DIV.searchHistory DIV.popup H4 IMG {
    cursor: pointer;
}
DIV.resultServices DIV.searchHistory DIV.popup UL {
    list-style-type: none;
}
DIV.resultServices DIV.searchHistory DIV.popup UL LI {
    cursor: pointer;
}
DIV.resultServices DIV.searchHistory DIV.popup UL LI:hover {
    background-color: #f3f7fa;
}
.feedback A, .resourcesArea A {
    color: #fff;
}
.resourcesArea IMG {
    height: 13px;
}
.selectAll input {
    background: #fff url("../image/common/box_selected.gif") no-repeat scroll 2px 4px;
    border: medium none;
}
.clearAll input {
    background: #fff url("../image/common/box_unselected.gif") no-repeat scroll 7px 4px;
    border: medium none;
}
.searchForm .inputText {
    font-size: 110% !important;
    font-weight: normal !important;
}
.searchForm #q {
    font-size: 140% !important;
}
DIV.search DIV.searchForm INPUT.submit {
    font-size: 100%;
}
DIV.resultsBar {
    font-size: 90% !important;
}
DIV.resultsBar select {
    font-size: 110% !important;
}
DIV.noResults {
    font-size: 200%;
}
DIV.resultsBar DIV.resultsFor {
    font-size: 110%;
}
.emailBox form span {
    color: #999999;
}
.formEmail {
    border: 1px solid #898989;
}
.formEmail:hover {
    border: 1px solid #83cdf1;
}
DIV.resultServices DIV.refineSearch UL {
    font-size: 95%;
}
DIV.resultsBar DIV.print a, DIV.resultsBar DIV.email a, DIV.resultsBar DIV.export a {
    font-size: 120%;
}
.showBox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #666666;
}
DIV.record DIV.data DIV.links A {
    font-size: 110%;
    text-decoration: none;
}
DIV.record DIV.data DIV.links A:hover {
    text-decoration: underline;
}
DIV.record DIV.data DIV.abstractFulltextList {
    margin: 7px 0;
    width: 98%;
}
DIV.record DIV.data DIV.abstractFulltextList LI {
    display: inline;
    list-style: outside none none;
    margin-right: 35px;
}
.alphaBg {
    height: 100%;
    left: 0;
    opacity: 0.55 !important;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.alphaBg {
}
.emailBox .megaBox {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #000;
    height: 55%;
    left: 50%;
    margin-left: -340px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 12%;
    width: 580px;
    z-index: 150;
}
#megaBox {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
#megaBox .formBox {
    clear: both !important;
}
.identificationBar {
    background: #175c8a none repeat scroll 0 0;
    clear: both;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    width: 100%;
}
.identificationBar span {
    background: #3b91cb none repeat scroll 0 0;
    font-family: Arial;
    margin-left: 555px;
    padding: 1px 4px;
}
.identificationBar span:hover {
    cursor: pointer;
}
#megaBox ul.menu {
    border-bottom: 1px solid #a7a6a6;
    clear: both;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    width: 560px;
}
#megaBox ul.menu li {
    background: #fff none repeat scroll 0 0;
    float: left;
    margin: 10px 5px 0 0;
}
#megaBox ul.menu li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #cecece;
    font-size: 13px;
    margin-bottom: -1px;
    padding: 4px 10px !important;
}
#megaBox ul.menu li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #a7a6a6 #a7a6a6 #ffffff;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 2px;
    color: #121212;
}
#megaBox .optionEmail {
    border-top: medium none;
    width: 560px;
    z-index: 160;
}
.megaBox form {
    display: block;
    margin-left: 15px;
    width: 560px;
}
.optionEmail input {
    clear: both;
}
.megaBox h3 {
    border-bottom: 2px solid #d9e2e8;
    clear: both;
    color: #175c8a;
    float: left;
    font-family: Arial,Times;
    font-size: 16px;
    margin: 10px;
    padding-bottom: 2px;
    width: 560px;
}
#megaBox .radioOptions {
    clear: both;
    float: left;
    margin: 0 10px;
    width: 510px;
}
#megaBox .formBox span {
    float: left;
    margin-top: 10px;
    width: 510px;
}
.inputButton input.submit {
    clear: none !important;
    float: left !important;
}
.megaBox .actions {
    float: left;
    margin: 0;
    text-align: right;
    width: 520px;
}
.formEmail {
    padding: 2px;
    width: 520px !important;
}
.collapseAll, .expandAll, .hide {
    display: none;
}
.related_docs_list {
    clear: both;
    margin: 5px 0 0 30px;
    padding-bottom: 20px;
}
.related_docs_list h1 {
    font-size: 110%;
    margin-bottom: 10px;
}
.related_docs_list ol li {
    margin: 0 0 9px 20px;
}
.related_docs_list ol li a {
    color: #14376c !important;
    text-decoration: none;
}
.addthis_toolbox {
    margin: 3px 0 0 5px;
}
.fulltext_box {
    background: white none repeat scroll 0 0;
    border: 1px solid #666;
    margin-top: 6px;
    padding: 7px;
    position: absolute;
    width: 500px;
}
.affix, .affix-top {
    margin: 0;
    padding: 0;
    width: 230px;
}
.affix {
    background: #fcfcfc none repeat scroll 0 0;
    border-bottom: 2px solid #ccc !important;
    margin: 0 0 0 -10px;
    position: fixed;
    top: 0;
}
.affix-top button {
    margin: 10px 2px;
}
.affix button {
    margin: 10px 2px 10px 10px;
}
[class^="icon-"], [class*=" icon-"] {
    background-image: url("../image/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-plus-sign {
    background-position: 0 -96px;
}
.icon-minus-sign {
    background-position: -24px -96px;
}
.icon-search {
    background-position: -48px 0;
}
.icon-th-list {
    background-position: -264px 0;
}
.icon-list-alt {
    background-position: -264px -24px;
}
.icon-cfg-filters {
    background-position: -384px -146px;
}
.icon-trash {
    background-position: -458px 0;
}
.division {
    border-top: 2px solid #cecece !important;
}
#flash {
    background-color: #ffc;
    border: 1px solid #dedede;
    font-size: 130%;
    font-weight: bold;
    margin: 5px;
    padding: 7px;
}
.expand_retract {
    font-size: 100% !important;
    margin-bottom: 10px !important;
}
.expand_retract A {
    text-decoration: none;
}
.reset_filters {
    border: 1px solid #cecece !important;
    margin: 10px 5px -5px 110px;
    padding: 4px !important;
    width: 90px;
}
